################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TelegramBots
/.vs
/TelegramBots/.vs/TelegramBots/v15
/TelegramBots/DataLayer/bin
/TelegramBots/DataLayer/obj
/TelegramBots/TelegramBots/bin
/TelegramBots/TelegramBots/obj
/TelegramBots/PostPublisher/bin
/TelegramBots/PostPublisher/obj
/TelegramBots/BusinessLayer/obj
/TelegramBots/BusinessLayer/bin
*.json
/TelegramBots/TelegramBots/wwwroot/log.txt
