@model List<DataLayer.Models.Festival.Artist>
@{
    Layout = "FestivalLayout";
}
<h2>Артист</h2>
<form action="@Url.Action("Artist", "Festival")" class="create-button">
    <input type="submit" value="Добавить" />
</form>

<ul>
    @foreach (var artist in Model)
    {
        <li><a href="@Url.Action("Artist", "Festival", new {id = artist.Id})">@artist.Name</a></li>
    }
</ul>