@using DataLayer.Models.Festival
@model DataLayer.Models.Festival.Schedule
@{
    Layout = "FestivalLayout";
}

<form asp-action="ScheduleSave" asp-controller="Festival" id="data-form">
    @Html.HiddenFor(m => m.Id)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="StageId" class="data-label">Сцена</label>
        <select asp-for="StageId" asp-items="ViewBag.Stages" size="6">
        </select>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="ArtistId" class="data-label">Артист</label>
        <select asp-for="ArtistId" asp-items="ViewBag.Artists" size="20">
        </select>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="StartDate" class="data-label">Начало выступления</label>
        @{
            var hasData = Model.StartDate != DateTime.MinValue;
        }
        <input id="StartDate" name="StartDate" value="@((hasData ? Model.StartDate : DateTime.Now).ToString("yyyy/MM/dd HH:mm"))" type="text" class="datetime-input data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="EndDate" class="data-label">Конец выступления</label>
        @{
            hasData = Model.EndDate != DateTime.MinValue;
        }
        <input id="EndDate" name="EndDate" value="@((hasData ? Model.EndDate : DateTime.Now).ToString("yyyy/MM/dd HH:mm"))" type="text" class="datetime-input data-input" />
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>