@model DataLayer.Models.Festival.Festival
@{
    Layout = "FestivalLayout";
}

<form asp-action="FestivalSave" asp-controller="Festival" id="data-form" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Name" class="data-label">Наименование</label>
        <input asp-for="Name" class="data-input" autofocus />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Description" class="data-label">Описание</label>
        <textarea asp-for="Description" class="data-input big-textarea"></textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="StartDate" class="data-label">Дата начала события</label>
        @{
            var hasData = Model.StartDate != DateTime.MinValue;
        }
        <input id="StartDate" name="StartDate" value="@((hasData ? Model.StartDate : DateTime.Now).ToString("yyyy/MM/dd HH:mm"))" type="text" class="datetime-input data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="EndDate" class="data-label">Дата окончания события</label>
        @{
            hasData = Model.EndDate != DateTime.MinValue;
        }
        <input id="EndDate" name="EndDate" value="@((hasData ? Model.EndDate : DateTime.Now).ToString("yyyy/MM/dd HH:mm"))" type="text" class="datetime-input data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        @Html.HiddenFor(m => m.Map)
        <label for="file" class="data-label">Карта фестиваля</label>
        <input type="file" id="file" name="file">
        @if (Model.Map == null || Model.Map.Length == 0)
        {
            <span style="color:red;">Карта отсутствует</span>
        }
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="HowToGetTo" class="data-label">Как добраться</label>
        <textarea asp-for="HowToGetTo" class="data-input big-textarea"></textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="CampingInfo"class="data-label">Кэмпинг</label>
        <textarea asp-for="CampingInfo" class="data-input big-textarea"></textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Rules" class="data-label">Правила</label>
        <textarea asp-for="Rules" class="data-input big-textarea"></textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Contacts" class="data-label">Контакты</label>
        <textarea asp-for="Contacts" class="data-input big-textarea"></textarea>
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>