@model Dictionary<int, Dictionary<string, List<DataLayer.Models.DTO.ArtistSchedule>>>
@{
    Layout = "FestivalLayout";
}
<h2>Фестивали</h2>
<form action="@Url.Action("ArtistSchedule", "Festival")" class="create-button">
    <input type="submit" value="Добавить" />
</form>

<ul>
    @foreach (var artistSchedule in Model)
    {
        //<li><a href="@Url.Action("ArtistSchedule", "Festival", new {id = artistSchedule.Id})">@artistSchedule.Name</a></li>
    }
</ul>