<div class="telegram">
    <a target="_blank" href="https://t.me/iLoveDrink_Bot">
        <img src="images/telegram.png" alt="Telegram" width="256" height="256" />
    </a>
</div>

<audio preload loop class="music">
    <source src="audio/audio.wav" type="audio/wav">
</audio> 