@model DataLayer.Models.NBCocktailsBar.AlcoholDrink

<form id="data-form" method="post" action="@Url.Action("AlcoholDrinkSave", "NBCocktailsBar")">
    @Html.HiddenFor(m => m.Id)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>

    <div class="data-field">
        <label for="Artist" class="data-label">Наименование</label>
        <input id="Artist" name="Artist" value="@Model.Name" type="text" class="data-input" autofocus />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="FullDescription" class="data-label">Описание</label>
        <textarea id="FullDescription" name="FullDescription" type="text" class="data-input big-textarea">@Model.Description</textarea>
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>