@model List<DataLayer.Models.NBCocktailsBar.IngredientCategory>
@{
    Layout = "NBLayout";
}
<h2>Категория ингридиента</h2>
<form action="@Url.Action("IngredientCategory", "NBCocktailsBar")" class="create-button">
    <input type="submit" value="Добавить" />
</form>

<ul>
    @foreach (var category in Model)
    {
        <li><a href="@Url.Action("IngredientCategory", "NBCocktailsBar", new {id = category.Id})">@category.OrderNo @category.Name</a></li>
    }
</ul>