@model Dictionary<string, List<DataLayer.Models.NBCocktailsBar.Ingredient>>
@{
    Layout = "NBLayout";
}
<h2>Ингридиент</h2>
<form action="@Url.Action("Ingredient", "NBCocktailsBar")" class="create-button">
    <input type="submit" value="Добавить" />
</form>

@foreach (var category in Model)
{
    <h3>@(category.Key)</h3>
    <ul>
        @foreach (var ingredient in category.Value)
        {
            <li><a href="@Url.Action("Ingredient", "NBCocktailsBar", new {id = ingredient.Id})">@ingredient.Name</a></li>
        }
    </ul>
}