@model DataLayer.Models.DTO.IdrinkMessage

<form asp-action="SendGlobalMessageWithDateCondition" asp-controller="Admin" id="data-form">
    <div class="data-field">
        <label asp-for="DateCondition" class="data-label">Условие даты</label>
        <input id="DateCondition" name="DateCondition" type="text" class="datetime-input data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="IsDrank" class="data-label">Всем кто пил?</label>
        <input asp-for="IsDrank" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Users" class="data-label">Конкретным людям</label>
        <select asp-for="Users" asp-items="ViewBag.Users" size="20" multiple="multiple"></select>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Body" class="data-label">Сообщение</label>
        <textarea asp-for="Body" class="data-input big-textarea"></textarea>
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Отправить" onclick="return confirm('Отправить?')" />
</form>